html {
/*	border-top-style: solid;
	border-top-width: 10px;
	border-top-color: #000000;*/
	margin: none;
	padding: none;
}
body {
	width: 150px;
	min-height: 400px;
	margin: none;
	padding-top: none;

}

#topbar {
	position: top;
	background-color: #ddd;
	color: #808080;
	height: 40px;
	text-align: right;
	padding-right: 8px;
	height: 40px;
	line-height: 40px;
	font-size: 1.0em;
	font-family: sans-serif;
	font-weight: normal;
}

#logo {
	position: relative;
	left: 4px;
	top: 4px;
	bottom: 4px;
	display: inline-block;
	float: left;
}

#topbartitle {
	display: inline-block;
	font-size: 4em;
	font-family: sans-serif;
	font-weight: normal;
	position: absolute;
	right: 4px;
	top: 50%;
	float: right;
}

#translation-choosers {
	align-content: center;
	margin: auto;
	
}

.chooser {
	position: relative;
	/*display: none;*/
}

.trans-chooser {
	position: relative;
	display: none;
}

.chooser-button {
	background-color: white;
	color: black;
	font-size: 1em;
	padding: 14px;
	align-self: center;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	background-color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: gray;
}

.chooser:hover .dropdown-content {
    display: block;
}